.popup__caption {
  font-size: 12px; /* Размер текста подписи к изображению */
  line-height: 15px; /* Межстрочный интервал для компактности */
  color: #fff; /* Белый цвет текста для контраста с фоном */
  position: absolute; /* Абсолютное позиционирование для размещения под изображением */
  left: 0; /* Привязка к левому краю контейнера */
  top: calc(100% + 10px); /* Размещение под изображением с отступом 10px */
  margin: 0; /* Убираем внешние отступы по умолчанию */
  /*
    позиционируем абсолютно. В задании сказано только про максимальные размеры изображения.
  */
}
